/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html{color:#222;font-size:1em;line-height:1.4;height:100%;}
::-moz-selection{background:#b3d4fc;text-shadow:none;}
::selection{background:#b3d4fc;text-shadow:none;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
audio, canvas, img, svg, video{vertical-align:middle;}
fieldset{border:0;margin:0;padding:0;}
textarea{resize:vertical;}
.browsehappy{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0;}

/* Author's custom styles */
html, body, .main{width:100%;height:100%;position:absolute;top:0;left:0;bottom:0;right:0;}
body{background-image:url(http://bradjasper.com/subtle-patterns-bookmarklet/patterns/paper.png);}
p, li, a, button{font-family:'Anonymous Pro', monospace;}
h1, h2, h3, h4, h5, label, legend, .btn{font-family:'Open Sans Condensed', sans-serif;}
h1{font-size:2.4em;}
h2{font-size:2em;}
h3{font-size:1.8em;}
h4{font-size:1.5em;}
h5{font-size:1.4em;}
a{color:#095;text-decoration:none;font-family:inherit;}
legend{font-weight:bold;}
input[type="text"], input[type="password"], input[type="search"], input[type="tel"], input[type="email"], input[type="url"], input[type="date"], input[type="time"], input[type="datetime"], textarea{border:none;background-color:rgba(255, 250, 220, 0.5);outline:none;padding:.5em 0;}
input[type="text"], input[type="password"], input[type="search"], input[type="tel"], input[type="email"], input[type="url"], input[type="date"], input[type="time"], input[type="datetime"]{border-bottom:solid 1px;}
textarea{border-left:solid 1px;padding-left:.5em;}

[data-full-width]{box-sizing:border-box;width:100%;}

.page-tab-content, .menu, .info-windows article, .dialog, .info-windows .relato img{
	-webkit-box-shadow:0 10px 30px 0 rgba(0,0,0,0.5);
	box-shadow:0 10px 30px 0 rgba(0,0,0,0.5);
}
.page-tab-content, .toggle-content, .dialog, .info-windows .relato img{
	-webkit-transition:.3s;
	-o-transition:.3s;
	transition:.3s;
}

.relato p{text-indent:2em;}

.page{display:table;width:98%;height:98%;padding:1%;position:relative;}
.page-background{position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%;z-index:-1;}
#intro .page-background{position:fixed;background-image:url(../Backgrounds/90H.jpg);background-size:cover;background-position:center;}
.intro-subtitulo{display:block;line-height:1;font-size:.6em;}
.intro-nav{display:table;}
.intro-nav label{padding:.8em;margin-right:.1em;background-color:#FFF;border-bottom:solid .3em;color:#095;cursor:pointer;}
.intro-nav label, .intro-nav .aba{display:inline-block;vertical-align:middle;white-space:nowrap;}
.intro-nav .btn{margin:0 .5em;font-size:1.2em;}

.page-tab-content{max-width:42em;padding:1%;background-color:rgba(255, 255, 255, 0.5);
	-webkit-transform:translateX(0);
	-ms-transform:translateX(0);
	-o-transform:translateX(0);
	transform:translateX(0);
}
.toggle-check:not(:checked) + .page-tab-content, .page-tab-content.toggle:not(:target){position:fixed;left:-100%;opacity:0;
	-webkit-transform:translateX(3em);
	-ms-transform:translateX(3em);
	-o-transform:translateX(3em);
	transform:translateX(3em);
}

.menu{background-color:#FFF;padding:1%;margin:-1% auto;position:absolute;right:0;top:0;
	-webkit-transform:rotate(2deg);
	-ms-transform:rotate(2deg);
	-o-transform:rotate(2deg);
	transform:rotate(2deg);
	-webkit-transform-origin:top right;
	-moz-transform-origin:top right;
	-ms-transform-origin:top right;
	-o-transform-origin:top right;
	transform-origin:top right;
}
#intro .menu{right:.5em;z-index:9;
	-webkit-transform:rotate(1deg);
	-ms-transform:rotate(1deg);
	-o-transform:rotate(1deg);
	transform:rotate(1deg);
}
.menu ul{padding-left:1.4em;}
.menu-close{float:right;line-height:1em;text-transform:uppercase;}
.ico{font-size:2.4em;font-style:normal;}

.info-windows article{padding:.1em 1% 1%;background-color:#FFF;margin-bottom:2em;}
.info-windows .info-title{position:fixed;bottom:1%;left:1%;}
.info-windows [data-toggle-label]{font-size:1.2em;color:#095;cursor:pointer;}
.info-windows [data-toggle]{position:absolute;visibility:hidden;}
.info-windows [data-toggle~=relato]:not(:checked) + .relato{position:absolute;width:0;height:0;overflow:hidden;margin:-2em 0;}
.info-windows .relato{}
.info-windows .relato img{float:right;max-width:100%;margin-right:-3em;margin-bottom:1em;padding:10px;background-color:#FFF;
	-webkit-transition:1s;
	-o-transition:1s;
	transition:1s;
	-webkit-transform:rotate(2deg) translate(20px);
	-ms-transform:rotate(2deg) translate(20px);
	-o-transform:rotate(2deg) translate(20px);
	transform: rotate(2deg) translate(20px);
}
.info-windows [data-toggle~=relato]:not(:checked) + .relato img{
	-webkit-opacity:0;
	-moz-opacity:0;
	-ms-opacity:0;
	-o-opacity:0;
	opacity:0;
	-webkit-transform:rotate(0) translate(-50px);
	-ms-transform:rotate(0) translate(-50px);
	-o-transform:rotate(0) translate(-50px);
	transform: rotate(0) translate(-50px);
}
.info-windows .relato img:nth-of-type(2){
	-webkit-transition:1.2s .2s;
	-o-transition:1.2s .2s;
	transition:1.2s .2s;
	-webkit-transform:rotate(-1deg) translate(10px);
	-ms-transform:rotate(-1deg) translate(10px);
	-o-transform:rotate(-1deg) translate(10px);
	transform: rotate(-1deg) translate(10px);
}
.info-windows .relato img:nth-of-type(3){
	-webkit-transition:1.3s .4s;
	-o-transition:1.3s .4s;
	transition:1.3s .4s;
	-webkit-transform:rotate(3deg) translate(20px);
	-ms-transform:rotate(3deg) translate(20px);
	-o-transform:rotate(3deg) translate(20px);
	transform: rotate(3deg) translate(20px);
}
.info-windows .relato img:nth-of-type(4){
	-webkit-transition:1.4s .6s;
	-o-transition:1.4s .6s;
	transition:1.4s .6s;
	-webkit-transform:rotate(1deg) translate(10px);
	-ms-transform:rotate(1deg) translate(10px);
	-o-transform:rotate(1deg) translate(10px);
	transform: rotate(1deg) translate(10px);
}
.info-windows .relato img:nth-of-type(5){
	-webkit-transition:1.5s .8s;
	-o-transition:1.5s .8s;
	transition:1.5s .8s;
	-webkit-transform:rotate(-2deg) translate(20px);
	-ms-transform:rotate(-2deg) translate(20px);
	-o-transform:rotate(-2deg) translate(20px);
	transform: rotate(-2deg) translate(20px);
}

.toggle-label{display:block;width:98%;padding:1%;margin-top:-.5em;background-color:#FBF7DD;cursor:pointer;
	-webkit-box-shadow:0 1px 3px 0 #999;
	box-shadow:0 1px 3px 0 #999;
}
.toggle-label small{display:block;}
.toggle-check{position:absolute;visibility:hidden;}
.toggle-title{font-size:1.2em;}
.toggle-content{border-top:solid 1px;margin-top:.5em;color:#666;text-shadow:0 1px 1px #FFF;font-family:'Anonymous Pro', monospace;}
.toggle-check:not(:checked) ~ .toggle-title strong{text-decoration:underline;color:#095;}
.toggle-check:not(:checked) ~ .toggle-content{opacity:0;margin:-1em auto;position:fixed;left:-120%;top:-120%;}
.toggle-label:before, .dialog:before{float:right;content:'';border:solid 2px;width:1em;height:3em;border-radius:2em;margin:-1em 0 -2em;color:#666;transform:rotate(5deg);font-size:1.5em;}

.dialog:before{margin-top:-1.5em;}

.dialog{display:table;position:fixed;top:-100%;left:0;right:0;z-index:999;bottom:initial;margin:-100% auto;width:30em;max-width:90%;max-height:90%;overflow:auto;padding:1em;background-color:#EFEFEF;
}
_:-o-prefocus, .dialog{height:22em;}
.dialog:target{top:0;bottom:0;margin:auto;}
.dialog .dialog-title{border-radius:0.5em;padding:.5em 1em;margin-top:-1.8em;background-color:#EFEFEF;font-size:1.2em;border-top:solid 1px #DDD;display:table;}
.dialog label{display:table;font-size:.9em;font-weight:bold;color:#999;}
.dialog .bottom{position:absolute;bottom:.5em;right:.5em;}

.dialog.large{width:100%;}
.inline-block{display:inline-block;vertical-align:bottom;margin-right:1em;margin-top:1em;}

[data-message]{background-color:#C2E0D3;color:#095;padding:.1em .5em;border-left:solid .5em;}
[data-message] h1,
[data-message] h2,
[data-message] h3,
[data-message] h4,
[data-message] h5,
[data-message] p{margin:10px 0;}
[data-message~=error]{background-color:#F0DAD4;color:#f30;}

.close{float:right;width:1em;line-height:1em;text-align:center;vertical-align:middle;border-radius:2em;border:solid 2px;font-family:'Open Sans Condensed', sans-serif;font-size:2em;color:#f30;}

.btn{display:inline-block;vertical-align:middle;padding:.5em 1em;background-color:#095;color:#FFF;text-decoration:none;text-shadow:0 -1px 1px #333;-webkit-box-shadow:inset 0 -1px 1px 0 #666, inset 0 1px 3px 0 #CCC;box-shadow:inset 0 -1px 1px 0 #666, inset 0 1px 3px 0 #CCC;border-radius:5px;border:none;}
.fl{float:left;margin-right:1em;}
.fr{float:right;margin-left:1em;}
[data-text~="uppercase"]{text-transform:uppercase;}

/* Helper classes */
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before, .clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}

@media only screen and (min-width:35em){}
@media print, (-o-min-device-pixel-ratio:5/4), (-webkit-min-device-pixel-ratio:1.25), (min-resolution:120dpi){}

/* Print styles */
@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important;}
	a, a:visited{text-decoration:underline;}
	a[href]:after{content:" (" attr(href) ")";}
	abbr[title]:after{content:" (" attr(title) ")";}
	a[href^="#"]:after, a[href^="javascript:"]:after{content:"";}
	pre, blockquote{border:1px solid #999;page-break-inside:avoid;}
	thead{display:table-header-group;}
	tr, img{page-break-inside:avoid;}
	img{max-width:100% !important;}
	p, h2, h3{orphans:3;widows:3;}
	h2, h3{page-break-after:avoid;}
}