---
layout: default
---

<nav class="places-menu no-js">
  <a href="#mapa" class="menu-link" id="btn-open-places">Locais</a>
  <div class="trigger">

    {% for local in site.locais %}

      <a class="page-link" href="#{{ local.id | remove: '/locais/' }}">{{ local.title }}</a>

    {% endfor %}

  </div>
</nav>

<section id="intro">

  <header class="site-title">
    <h1>{{ site.title }}</h1>
    <h2>{{ site.subtitle }}</h2>
  </header>

  <div class="tabs" data-grid="row start">

    {% for item in site.intro %}

    <label for="toggle-{{ item.name }}" data-cell="shrink">{{ item.title }}</label>

    {% endfor %}

  </div>

  {% for item in site.intro %}

  <input type="radio" name="page-tabs" id="toggle-{{ item.name }}" class="toggle-input" {% if forloop.first == true %}checked=""{% endif %}>
  <article class="tab-content toggle-content" id="{{ item.name }}">
    <h2>{{ item.title }}</h2>
    {{ item.content }}
  </article>

  {% endfor %}

</section>

<section id="places">

  {% for local in site.locais %}
    {% assign local_id = local.id | remove: '/locais/' %}
    <article class="page-content" id="{{ local_id }}" data-lat="{{ local.lat }}" data-lng="{{ local.lng }}">
  
      <div>
        <a href="#" class="btn-close">⨉</a>
        <h3>{{ local.title }} - {{ local.uf }}</h3>
        {{ local.content }}
      </div>

      <div class="relatos">

        <h4>Relatos neste local</h4>

        {% for post in site.relatos %}
          {% if post.name == local_id %}

          <article>
            <h5>{{ post.title }}</h5>
            <section>
              {{ post.content }}
            </section>
          </article>

          {% endif %}
        {% endfor %}

      </div>
  
    </article>
  {% endfor %}

</section>