---
layout: default
---

<div id="map-container">
  <div id="map-content"></div>
  <div class="map-overlay"></div>
</div>
<nav class="site-nav">
  <a href="#" class="menu-link" id="btn-open-places">Locais</a>
  <div class="trigger">

    {% for local in site.locais %}
      <a class="page-link" href="#{{ local.id | remove: '/locais/' }}">{{ local.title }}</a>
    {% endfor %}

  </div>
</nav>

<section class="page-content" id="intro">

  <header class="site-title">
    <h1>{{ site.title }}</h1>
    <h2>{{ site.subtitle }}</h2>
  </header>

  <div class="tabs" data-grid="row start">

    {% for item in site.intro %}

    <label for="toggle-{{ item.name }}" data-cell="shrink">{{ item.title }}</label>

    {% endfor %}

  </div>

  {% for item in site.intro %}

  <input type="radio" name="page-tabs" id="toggle-{{ item.name }}" class="toggle-input" {% if forloop.first == true %}checked=""{% endif %}>
  <article class="tab-content toggle-content" id="{{ item.name }}">
    <h2>{{ item.title }}</h2>
    {{ item.content }}
  </article>

  {% endfor %}

</section>

<section class="#places">

  {% for local in site.locais %}

    <div id="{{ local.id | remove: '/locais/' }}" data-lat="{{ local.lat }}" data-lng="{{ local.lng }}">
      <h4>{{ local.title }} - {{ local.uf }}</h4>
      {{ local.content }}
    </div>

  {% endfor %}

</section>