<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
  
    {{ content }}

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCgR5odsOyv83gOKBMfa98hMdsm3VCvAnc"></script>
    {% comment %} 
    https://console.cloud.google.com/apis/credentials?project=my-project-1502985135138 
    {% endcomment %}
		<script src="{{ site.baseurl }}/js/map.js"></script>
		<script src="{{ site.baseurl }}/js/main.js"></script>

  </body>

</html>
